.main {
    width: 100vw;
    height: 70vh;
    background-color: #F1F6F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: center;
    padding-bottom: 10vh;

    >div:nth-child(1) {
        font-size: 5vw;
        text-align: center;
        margin: 8vh 0 5vh 0;
        font-weight: 900;
        border-bottom: 1px solid black;
        font-family: "Roboto Mono", monospace;
    }

    >div:nth-child(2) {
        width: 90vw;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            width: 25vw;
            height: 40vh;
            background-color: white;
            border-radius: 10px;
            margin: 3vh 4vw 0 4vw;
            color: black;
            padding: 2vw;

            >div:nth-child(1) {
                display: flex;
                margin: 1vh 0 2vh 0;
                align-items: center;
                justify-items: center;
                width: 25vw;

                >a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.3vw;
                    margin: 0 0 0 2vw;
                }

                >div:nth-child(2) {
                    font-size: 2.2vw;
                    font-weight: bold;
                }
            }
            >a{
                text-decoration: none;
                >div{
                    text-align: left;
                    padding-left: 2vw;
                    margin-bottom: 3vh;
                    font-size: 1.2vw;
                }
            }
            >div {
                font-size: 1.2vw;
                margin: 0 0 1vh 1vw;
            }
        }

        >div:nth-child(1)>div:nth-child(1)>a>div:nth-child(1) {
            width: 5vw;
            height: 5vw;
            background-image: url('/github.png');
            background-size: cover;
            background-position: center;
            margin-right: 2vw;
        }

        >div:nth-child(2)>div:nth-child(1)>a>div:nth-child(1) {
            width: 5vw;
            height: 5vw;
            background-image: url('/notion.png');
            background-size: cover;
            background-position: center;
            margin-right: 2vw;
        }
    }
    a{
        text-decoration: none;
        color: #526D82;
    }
}