@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.main {
    width: 100vw;
    background-color: #27374D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #27374D;
    justify-content: center;
    padding-bottom: 5vh;

    >div:nth-child(1) {
        font-size: 4rem;
        text-align: center;
        margin: 10vh 0 10vh 0;
        font-weight: 900;
        border-bottom: 1px solid white;
        font-family: "Roboto Mono", monospace;
        color: white;
    }

    >div:not(:nth-child(1)) {
        width: 90vw;
        height: 85vh;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        >div:nth-child(1) {
            margin-top: 5vh;
            font-size: 2.5rem;
            font-family: "Roboto Mono", monospace;
            text-align: center;
            font-weight: 900;

            >p {
                font-size: 1.1rem;
                color: #526D82;
            }
        }

        >div:nth-child(2) {
            width: 90vw;
            height: 60vh;
            display: flex;
            padding: 1vh 3vw 0 3vw;
            margin-top: 1vh;

            >div:nth-child(1) {
                width: 45vw;
                height: 25vw;
                margin-right: 2vw;
                margin-top: 5vh;
                background-color: #f1ebeb;
                display: flex;
                justify-content: center;
                padding-top: 1.5vw;
                border-radius: 10px;
            }

            >div:nth-child(2) {
                width: 40vw;
                height: 60vh;
                display: flex;
                flex-direction: column;
                align-items: center;

                >div:nth-child(1) {
                    width: 20vw;
                    height: 10vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1vh;
                    >a{
                        text-decoration: none;
                        font-weight: 900;
                        color: #27374D;
                        margin: 0 4vw 1vh 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 7vw;
                        font-size: 0.9rem;
                    }

                    a:nth-child(1) {
                        margin: 0 4vw 1vh 0;
                        >div {
                            background-image: url('/url2.png');
                            height: 2.3vw;
                            width: 2.3vw;
                            background-position: center;
                            background-size: cover;
                            filter: contrast(50%);
                            margin-top: 1vh;
                        }
                    }

                    >a:nth-child(2) {
                        margin: 0 4vw 1vh 0;
                        >div {
                            background-image: url('/github.png');
                            height: 2.3vw;
                            width: 2.3vw;
                            background-position: center;
                            filter: contrast(70%);
                            background-size: cover;
                            margin-top: 1vh;
                        }
                    }

                    >a:nth-child(3){
                        margin: 0;
                        >div {
                            background-image: url('/video.png');
                            height: 3vw;
                            width: 3vw;
                            background-position: center;
                            filter: contrast(50%);
                            background-size: cover;
                        }
                    }
                }

                >div:nth-child(2) {
                    width: 32vw;
                    font-size: 1rem;
                    margin-bottom: 3vh;
                    text-align: justify;
                }
                >div:nth-child(3){
                    width: 13vw;
                    height: 6vh;
                    border-radius: 10vw;
                    background-color: #27374D;
                    color: white;
                    text-align: center;
                    line-height: 6vh;
                }
            }
        }
    }
}

.project {
    width: 38vw;
    height: 20vw;
}

.slider {
    width: 100%;
    height: 100%;
}