@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.main {
    width: 100vw;
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #27374D;
    justify-content: center;
    padding-bottom: 5vh;

    >div:nth-child(1) {
        font-size: 5vw;
        text-align: center;
        margin: 10vh 0 10vh 0;
        font-weight: 900;
        border-bottom: 1px solid #27374D;
        font-family: "Roboto Mono", monospace;
        color: #27374D;
    }
}

.project {
    width: 38vw;
    height: 20vw;
}

.slider {
    width: 100%;
    height: 100%;
}

.go {
    width: 13vw;
    height: 6vh;
    border-radius: 10vw;
    background-color: #27374D;
    color: white;
    text-align: center;
    line-height: 6vh;

}

.pj {
    width: 90vw;
    height: 95vh;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    >div:nth-child(1) {
        margin-top: 5vh;
        font-size: 3vw;
        font-family: "Roboto Mono", monospace;
        text-align: center;
        font-weight: 900;

        >p {
            font-size: 1.3vw;
            color: #526D82;
        }
    }

    >div:nth-child(2) {
        width: 90vw;
        height: 60vh;
        display: flex;
        padding: 1vh 3vw 0 3vw;
        margin-top: 1vh;

        >div:nth-child(1) {
            width: 45vw;
            height: 25vw;
            margin-right: 2vw;
            margin-top: 10vh;
            background-color: #F5F7F8;
            display: flex;
            justify-content: center;
            padding-top: 1.5vw;
            border-radius: 10px;
        }

        >div:nth-child(2) {
            width: 40vw;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div:nth-child(1) {
                width: 30vw;
                height: 10vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 3vh;

                >a {
                    text-decoration: none;
                    font-weight: 900;
                    color: #27374D;
                    margin: 0 0 1vh 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1vw;
                }

                a:nth-child(1) {
                    margin: 0 0 1vh 0;

                    >div {
                        background-image: url('/url2.png');
                        height: 2.3vw;
                        width: 2.3vw;
                        background-position: center;
                        background-size: cover;
                        filter: contrast(50%);
                        margin-top: 1vh;
                    }
                }

                >a:nth-child(2) {
                    margin: 0 0 1vh 0;

                    >div {
                        background-image: url('/github.png');
                        height: 2.3vw;
                        width: 2.3vw;
                        background-position: center;
                        filter: contrast(70%);
                        background-size: cover;
                        margin-top: 1vh;
                    }
                }

                >a:nth-child(3) {
                    margin: 0;

                    >div {
                        background-image: url('/video.png');
                        height: 3vw;
                        width: 3vw;
                        background-position: center;
                        filter: contrast(50%);
                        background-size: cover;
                    }
                }

                >a:nth-child(4) {
                    margin: 0;

                    >div {
                        background-image: url('/figma.png');
                        height: 3vw;
                        width: 3vw;
                        background-position: center;
                        filter: contrast(80%);
                        margin-top: 1vh;
                        background-size: cover;
                    }
                }

                >a:nth-child(5) {
                    margin: 0;

                    >div {
                        background-image: url('/notion.svg');
                        height: 3vw;
                        width: 3vw;
                        background-position: center;
                        filter: contrast(80%);
                        margin-top: 1vh;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }

            >div:nth-child(2) {
                width: 32vw;
                margin-bottom: 3vh;
                text-align: justify;
                font-size: 1.1vw;
            }

            >a {
                    text-decoration: none;
            }
        }
    }
}

